<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de Clientes</span>
      <button
        type="button"
        class="btn btn-dark float-end p-2"
        routerLink="/clientes/crear"
      >
        <i class="bi bi-person-add p-2 fs-5"> Agregar</i>
      </button>
      <div>
        <table
          class="table table-striped mt-5"
          *ngIf="listaClientes.length > 0; else noHayClientes"
        >
          <thead>
            <tr>
              <th>Nombre y apellidos</th>
              <th>DNI</th>
              <th>Email</th>
              <th>Telefono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of listaClientes">
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.dni }}</td>
              <td>{{ cliente.email }}</td>
              <td>{{ cliente.telefono }}</td>
              <td>
                <i
                  class="bi bi-pencil-square fs-5 me-2 text-primary"
                  routerLink="/clientes/editar/{{ cliente.id }}"
                ></i>
                <i
                  *ngIf="cliente.id"
                  (click)="eliminarCliente(cliente.id, cliente.dni)"
                  class="bi bi-trash fs-5 text-danger"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #noHayClientes>
          <div class="text-center">
            <span class="badge bg-secondary my-4 fs-6 p-2"
              >No hay datos para mostrar</span
            >
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
