<h1 class="text-center mt-5 text-primary">
  Bienvenido al proyecto de citas para entrevistas
</h1>
<p class="text-center mt-5 text-secondary fs-5">
  Explora nuestra variada colección de oportunidades para entrevistar a clientes
  y disfruta de una experiencia única en nuestro servicio. Ya seas un
  principiante o un profesional experimentado, aquí encontrarás opciones
  adaptadas a tus necesidades. ¡Comienza a planificar tus entrevistas y descubre
  nuevas oportunidades de conexión con tus clientes!
</p>
