<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <span class="h3">Listado de Citas</span>
        <button
          type="button"
          class="btn btn-dark float-end p-2"
          routerLink="/citas/crear"
        >
        <i class="bi bi-calendar4-week fs-5"> Agregar</i>
        </button>
        <div>
          <table
            class="table table-striped mt-5"
            *ngIf="listaCitas.length > 0; else noHayClientes"
          >
            <thead>
              <tr>
                <th>Día de la cita</th>
                <th>Hora de la Cita</th>
                <th>Datos del cliente</th>
                <th>Entrevistado por</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cita of listaCitas">
                <td>{{ cita.diaCita | date : 'dd/MM/yyyy' }}</td>
                <td>{{ cita.horaCita }}</td>
                <td>{{ cita.clienteData.nombreCliente }} - {{ cita.clienteData.dniCliente }}</td>
                <td>{{ cita.entrevistadoPor }}</td>
                <td>
                  <i
                    class="bi bi-pencil-square fs-5 me-2 text-primary"
                    routerLink="/citas/editar/{{ cita.id }}"
                  ></i>
                  <i
                    *ngIf="cita.id"
                    (click)="eliminarCita(cita.id, cita.diaCita + ' ' + cita.horaCita, cita.idCliente)"
                    class="bi bi-trash fs-5 text-danger"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-template #noHayClientes>
            <div class="text-center">
              <span class="badge bg-secondary my-4 fs-6 p-2"
                >No hay datos para mostrar</span
              >
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  
